<!-- navbar.component.html -->
<nav class="navbar navbar-expand-md" style="font-family: inter;">
    <a class="navbar-brand spaced-link " id="navbar"><img src="/assets/images/logo.png"></a>
    <button class="navbar-toggler" type="button" (click)="toggleNavbar()">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" [ngClass]="{'show': isResponsive}" >
      <ul class="navbar-nav ml-auto" style="align-items: center;">
        <li class="nav-item">
          <a class="nav-link spaced-link" routerLink="" id="homelink">HOME</a>
        </li>
        
        <li class="nav-item">
            <a class="nav-link spaced-link" routerLink="">DONATE</a>
          </li>
        <li class="nav-item">
          <a class="nav-link spaced-link" routerLink=""><img src="/assets/images/cart.png"></a>
        </li>
        <li class="nav-item">
            <a class="nav-link spaced-link" routerLink="">ABOUT US</a>
          </li>
        <li class="nav-item">
          <a class="nav-link spaced-link" routerLink="" id="login">LOGIN</a>
        </li>
      </ul>
    </div>
  </nav>
  
 