<div class="contain">
    
    <div class="form">
        <h5>Sign Up</h5>
        <form action="form">
            <div class="fields">
                <label for="Fname">FIRST NAME</label> <br>
                <input type="text"  id="Fname">
            </div>
            <div class="fields">
                <label for="Lname">LAST NAME</label> <br>
                <input type="text" id="Lname">
            </div>
            <div class="fields">
                <label for="email">EMAIL</label> <br>
                <input type="email" id="email">
            </div>
            <div class="fields">
                <label for="password">PASSWORD</label> <br>
                <input type="password" id="password">
            </div>
            <div class="fields">
                <label for="Cpassword">CONFIRM PASSWORD</label> <br>
                <input type="password" id="Cpassword">
            </div>
            <div class="fields">
                <label for="password">PASSWORD</label> <br>
                <input type="password" id="password">
            </div>
            <!-- Image upload -->


            <div class="fields">
                <!-- <label for="imageUpload">UPLOAD DEATH CERTIFICATE/BIRTH CERTIFICATE</label> <br>
                <div class="image-upload">
                    <label for="fileInput">
                    <img src="placeholder-image.jpg" alt="Upload" class="upload-preview">
                    </label>
                    <input id="imageUpload" type="file" accept="image/*">
                </div> -->
                <div class="fields">
                    <label for="imageUpload">UPLOAD DEATH CERTIFICATE/BIRTH CERTIFICATE</label> <br>
                    <div class="image-upload">
                        <input id="imageUpload" type="file" accept="image/*">
                        <img src="placeholder-image.jpg" alt="Upload" class="upload-preview">
                        <button type="button" onclick="uploadImage()" class="button">Upload</button>
                    </div>
                </div>

            </div>


        </form>
    </div>
    
</div>





<!-- index.html -->


      

  