<div class="footer">
    <img src="/assets/images/logo.png" class="logo">
    <div class="contents">
        <p>Mfariji makes it easy and safe for you to give to local <br> projects anywhere in the Kenya, 
            while providing <br> nonprofits with the tools, training, and support they <br> need to thrive.
        </p>
        <div>
            <button type="button">Help center</button>
        </div>
        <div class="icons">
            <img src="assets/images/icons/facebook.png">
            <img src="assets/images/icons/whatsaap.png">
            <img src="assets/images/icons/twiter.png">
        </div>
            
    </div>
    <div class="line"></div>

    <!-- <div class="links">

        <ul class="companies">
        
            
            <li class="link">
                <a routerLink="">Our Services </a>
              </li>
              <li class="link">
                <a routerLink="">Our patners</a>
              </li>
              <li class="link">
                <a routerLink="">Corporate Gift Cards</a>
              </li>
              <li class="link">
                <a routerLink="">N/A </a>
              </li>
        </ul>
        <ul class="about">
            
            <li class="link">
                <a routerLink="">Our Team </a>
              </li>
              <li class="link">
                <a routerLink="">Jobs</a>
              </li>
              <li class="link">
                <a routerLink="">FAQS</a>
              </li>
              <li class="link">
                <a routerLink="">Contact Us </a>
              </li>
        </ul>

        <ul class="library">
            
            <li class="link">
                <a routerLink="">N/A</a>
              </li>
              <li class="link">
                <a routerLink="">N/A </a>
              </li>
              <li class="link">
                <a routerLink="">Donor Resources </a>
              </li>
              <li class="link">
                <a routerLink="">Success Stories </a>
              </li>
        </ul>
    </div> -->


    <!-- footer.component.html -->
<div class="footer-links">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
            <h3>Companies</h3>
            <ul class="footer-links">
              <li><a routerLink="">Our services </a> </li>
              <li><a routerLink="">Our patners</a></li>
              <li><a routerLink="">Corporate Gift Cards </a></li>
              <li><a routerLink="">navigation menu</a></li>
            </ul>
        </div>
        <div class="col-md-4">
          <h3>About us</h3>
          <ul class="footer-links">
            <li><a routerLink="">Our Team</a></li>
            <li><a routerLink="">Jobs</a></li>
            <li><a routerLink="">FAQS</a></li>
            <li><a routerLink="">Contact Us</a></li>
          </ul>
        </div>
        <div class="col-md-4">
          <h3>Learn Library</h3>
          <ul class="footer-links">
            <li><a routerLink="">Nonprofit</a></li>
            <li><a routerLink="">Corporate giving Resources</a></li>
            <li><a routerLink="">Donor Resources</a></li>
            <li><a routerLink="">Success Stories</a></li>
          </ul>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-md-12 text">
          <p class="copyright">&copy;2023 mfariji. All rights reserved.</p>
        </div>
      <div class="row">
        <div class="col-md-12 text-center">
          <p class="text">Generosity is not measured by the size of the donation, but by the impact it creates in the lives of others.</p>
        </div>

        
      </div>
    </div>
</div>
  
</div>
